.go-back {
    margin-bottom: 20px;
}

.main-details {
    margin-top: 20px;
    text-align: right;
}

.main-details .badge {
    margin-right: 5px;
}

.get-directions {
    float: left;
}

.resto-rating {
    color: #ff9d00;
}

.page-header {
    font-weight: bolder;
}
