.search-header {
    margin: 30px 0;
}

.media-body h3 {
    margin-top: 0px;
}

.media-body p {
    font-size: 13px;
}

.media-body .badge {
    margin-right: 5px;
}

.resto-rating {
    color: #ff9d00;
}
