<nav class="page-header">
    <h3><span class="glyphicon glyphicon-search"></span> Search Results ({{searchService.filteredListCount}})</h3>
</nav>
<ul class="media-list">
    <li class="media" *ngFor="let resto of searchService.filteredList">
        <div class="media-body" *ngIf="!resto">
            <h4>No matches found.</h4>
        </div>
        <div class="media-left" *ngIf="resto">
            <a [routerLink]="['/food-hub', resto.id]" routerLinkActive="active">
                <img class="media-object" onerror="this.style.display = 'none'" src="{{resto.thumbnailUrl}}?fit=around|175:100&crop=175:100;*,*" alt="{{resto.name}}">
            </a>
        </div>
        <div class="media-body" *ngIf="resto">
            <h3>
                <a [routerLink]="['/food-hub', resto.id]">{{resto.name}}</a><br>
                <small>{{resto.type}}</small>
                <small *ngIf="resto.rating">&#x25cf; <span class="glyphicon glyphicon-star"></span> {{resto.rating}}</small>
            </h3>
            <p>
                <span class="glyphicon glyphicon-map-marker"></span> &nbsp;&nbsp;{{resto.address}}
                <br>
                <span class="glyphicon glyphicon-cutlery"></span> &nbsp;&nbsp;
                <span class="label label-info" *ngFor="let cuisine of resto.cuisines">{{cuisine}}</span>
            </p>
        </div>
        <hr>
    </li>
</ul>
