<main>
    <sebm-google-map
        [(styles)]="mapService.styles[mapService.styleKey]"
        [(latitude)]="mapService.latitude"
        [(longitude)]="mapService.longitude"
        [(streetViewControl)]="mapService.streetViewControl"
        [(scrollwheel)]="mapService.scrollwheel"
        [(mapTypeControl)]="mapService.mapTypeControl"
        [(zoom)]="mapService.zoom">
        <sebm-google-map-circle [latitude]="mapService.latitude" [longitude]="mapService.longitude" 
            [radius]="500"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
        </sebm-google-map-circle>
        <sebm-google-map-marker *ngFor="let resto of restaurants" [latitude]="resto.latitude" [longitude]="resto.longitude">
            <sebm-google-map-info-window [id]="'marker' + resto.id" [isOpen]="mapService.preOpenedInfoWindow.indexOf(resto.id) !== -1 && searchQuery == ''">
                <a href="/{{resto.id}}"><strong>{{resto.name}}</strong></a>
                <p *ngIf="resto.rating">Rating {{resto.rating}} of {{resto.reviewsCount}} reviews</p>
            </sebm-google-map-info-window>
        </sebm-google-map-marker>
    </sebm-google-map>
    <div id="header-panel" class="panel">
        <h3><strong>Browse food hubs within your reach!</strong></h3>
        <p><strong>RestoPool</strong>, a joint project with the location intelligence system by Navagis Inc. and with the current dataset of food hubs by Zomato Inc., offers a cozy and enjoyable experience when hunting for yummy treats all across Cebu right in your browser!</p>
        <div id="search-bar" class="input-group input-group-lg">
            <input type="text" [(ngModel)]="searchQuery" class="form-control" placeholder="Start searching...">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
        </div>
        <hr>
        <select class="form-control" [(ngModel)]="filterBy">
            <option value="name">Filter by Name</option>
            <option value="type">Filter by Type</option>
            <option value="cuisines">Filter by Cuisine</option>
            <option value="address">Filter by Location</option>
        </select>
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Collapse all markers
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Collapse info windows on all markers
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    Show circle marker to determine the number of food hubs within
                </label>
            </div>
        </div>
        <hr>
        <div id="map-style">
            <label class="radio-inline" *ngFor="let mStyle of mapService.mapStyleKeys" (click)="mapService.styleKey = mStyle">
                <input type="radio" name="inlineRadioOptions" [value]="mStyle" [checked]="mapService.styleKey == mStyle">
                <span class="label label-info">{{mStyle}}</span>
            </label>
        </div>
    </div>
    <div id="search-panel" [@slideInOut]="searchQuery !== '' ? 'in' : 'out'">
        <nav class="page-header">
            <h3><span class="glyphicon glyphicon-search"></span> Search Results ({{searchResult.count}})</h3>
        </nav>
        <ul class="media-list">
            <li class="media" *ngFor="let resto of (restaurants | restaurantSearch:searchQuery:filterBy:searchResult:cuisinesDict)">
                <div class="media-body" *ngIf="!resto">
                    <h4>No matches found.</h4>
                </div>
                <div class="media-left" *ngIf="resto">
                    <a href="{{resto.id}}">
                        <img class="media-object" onerror="this.style.display = 'none'" src="{{resto.thumbnailUrl}}?fit=around|175:100&crop=175:100;*,*" alt="{{resto.name}}">
                    </a>
                </div>
                <div class="media-body" *ngIf="resto">
                    <h3>
                        <a href="{{resto.id}}">{{resto.name}}</a><br>
                        <small>{{resto.type}}</small>
                        <small *ngIf="resto.rating">&#x25cf; <span class="glyphicon glyphicon-star"></span> {{resto.rating}}</small>
                    </h3>
                    <p>
                        <span class="glyphicon glyphicon-map-marker"></span> &nbsp;&nbsp;{{resto.address}}<br>
                        <span class="glyphicon glyphicon-cutlery"></span> &nbsp;&nbsp;
                        <span class="label label-info" *ngFor="let cuisine of resto.cuisines">{{cuisine}}</span>
                    </p>
                </div>
                <hr>    
            </li>
        </ul>
    </div>
</main>
