main {
    position: relative;
    height: 100%;
}

sebm-google-map {
    height: 100%;
    position: relative;
    z-index: 0;
}

#header-panel {
    position: absolute;
    top: 52px;
    left: 50px;
    z-index: 1;
    width: 500px;
    min-height: auto;
    padding: 20px;
    /*line-height: 1.35em;*/
    box-shadow: 0 0 6px;
}

#header-panel h3 {
    color: #1b809e;
}

#header-panel p {
    margin: 25px 0;
}

#search-bar {
    margin-top: 10px;
    margin-bottom: 30px;
}

#search-panel {
    padding: 20px 45px;
    background-color: #fff;
    position: fixed;
    left: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 55%;
    min-width: 250px;
    z-index: 2;
    overflow-y: scroll;
}

.page-header {
    margin: 0;
    margin-bottom: 20px;
}

.media-body {
    padding-left: 20px;
}

.media-body h3 {
    margin-top: 0px;
}

.media-body p {
    font-size: 13px;
}

.media-body p > .label {
    margin-right: 5px;
}

.glyphicon {
    color: #1b809e;
}
