<main>
    <map-overlay></map-overlay>
    <div id="header-panel" class="panel">
        <h3><strong>Browse food hubs within your reach!</strong></h3>
        <p><strong>RestoPool</strong>, a joint project with the location intelligence system by Navagis Inc. and with the current dataset of food hubs by Zomato Inc., offers a cozy and enjoyable experience when hunting for yummy treats all across Cebu right in your browser!</p>
        <div id="search-bar" class="input-group input-group-lg">
            <input type="text" [(ngModel)]="searchService.searchQuery" class="form-control" placeholder="Start searching..." name="searchQuery" (input)="searchService.navigateToSearch()">
            <span class="input-group-btn">
                <a [routerLink]="['search']" [queryParams]="{ query: searchService.searchQuery }" routerLinkActive="active" class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </a>
            </span>
        </div>
        <hr>
        <select class="form-control" [(ngModel)]="searchService.filterBy">
            <option value="name">Filter by Name</option>
            <option value="type">Filter by Type</option>
            <option value="cuisines">Filter by Cuisine</option>
            <option value="address">Filter by Location</option>
        </select>
        <div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="mapService.isMarkersVisible">
                    <span>Make all markers visible</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="mapService.isInfoWindowsVisible">
                    <span>Collapse all info windows</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="mapService.isCircleVisible" (change)="mapService.getFoodHubsCountWithinRadius()">
                    <span>Show draggable circle marker</span>
                </label>
            </div>
        </div>
        <hr>
        <div id="map-style">
            <label class="radio-inline" *ngFor="let mStyle of mapService.mapStyleKeys" (click)="mapService.styleKey = mStyle">
                <input type="radio" name="inlineRadioOptions" [value]="mStyle" [checked]="mapService.styleKey == mStyle">
                <span class="label label-info">{{mStyle}}</span>
            </label>
        </div>
    </div>
    <div id="router-panel" [@slideInOut]="(searchService.searchQuery !== '' || restaurantService.currentRouted !== undefined) ? 'in' : 'out'">
    <!-- <div id="router-panel" [@slideInOut]="'out'"> -->
        <!-- <details-subpanel></details-subpanel> -->
        <router-outlet></router-outlet>
    </div>
</main>
