<sebm-google-map
    [@mapOverlayTransition]="(!searchService.hasSearchQuery()) ? 'in' : 'out'"
    [usePanning]="mapService.usePanning"
    [styles]="mapService.styles[mapService.styleKey]"
    [latitude]="mapService.latitude"
    [longitude]="mapService.longitude"
    [streetViewControl]="mapService.streetViewControl"
    [scrollwheel]="mapService.scrollwheel"
    [mapTypeControl]="mapService.mapTypeControl"
    [zoom]="mapService.zoom">
    <agm-directions [mapService]="mapService" [restaurantService]="restaurantService"></agm-directions>
    <sebm-google-map-circle
        [latitude]="mapService.circleCenter.latitude"
        [longitude]="mapService.circleCenter.longitude" 
        [radius]="mapService.circleRadius"
        [fillColor]="mapService.circleFillColor"
        [circleDraggable]="mapService.circleDraggable"
        [editable]="true"
        [visible]="mapService.isCircleVisible"
        (radiusChange)="mapService.getFoodHubsCountWithRadius($event)"
        (centerChange)="mapService.getFoodHubsCountWithCenter($event)">
        <sebm-google-map-info-window
            [latitude]="mapService.circleCenter.latitude"
            [longitude]="mapService.circleCenter.longitude"
            [isOpen]="mapService.isCircleVisible">
            <h6>There are <strong>{{mapService.foodHubCountWithinRadius}}</strong> food hubs within this radius.</h6>
        </sebm-google-map-info-window>
    </sebm-google-map-circle>
    <sebm-google-map-marker
        *ngFor="let resto of restaurantService.restaurants"
        [iconUrl]="mapService.mapMarkerDirUrl + mapService.typeIconDict[resto.type]"
        [latitude]="resto.latitude"
        [longitude]="resto.longitude"
        [visible]="mapService.isMarkersVisible">
        <sebm-google-map-info-window
            [isOpen]="mapService.isInfoWindowsVisible && mapService.preOpenedInfoWindow.indexOf(resto.id) !== -1">
            <a [routerLink]="['/food-hub', resto.id]" routerLinkActive="active"><strong>{{resto.name}}</strong></a>
            <p *ngIf="resto.rating">Rating {{resto.rating}} of {{resto.reviewsCount}} reviews</p>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>
